<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootrap y stilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <table class="tabla">
                <div class="card">
                    <form role="form">
                    <br>
                <tr>
                    <td ><div class="cont">
                        <!--imput de dni-->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Ingrese su DNI" class="budcaDNI" required autofocus>
                        &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar" class="botones">
                    </div></td>
                </tr>
                <br>
                <br>
                    <tr>
                        <td><div class="form-group">
                            <label>DNI:</label>
                            <input type="text" class="form-control" id="comp">
                        </div></td>
                        <td><div class="form-group">
                            <label>Nombre Completo:</label>
                            <input type="text" class="form-control" id="comp">
                        </div></td>
                    </tr>
                    <tr>
                        <td><div class="form-group">
                            <label>Contraseña:</label>
                            <input type="password" class="form-control" id="comp">
                        </div></td>
                        <td><div class="form-group">
                            <label>Genero:</label>
                            <input type="text" class="form-control" id="comp">
                        </div></td>
                    </tr>
                    <tr>
                        <td><div class="form-group">
                            <label>Telefonoo:</label>
                            <input type="text" class="form-control" id="comp">
                        </div></td>
                        <td><div class="form-group">
                            <label>Rol:</label>
                            <input type="number" class="form-control" id="comp">
                        </div></td>

                    </tr>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Actualizar" class="botones">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Guardar" class="botones">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Eliminar" class="botones"> 
                    </form>
                    <br>
                </div>
            </table>
        </div>
    </div>
</body>

</html>