<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootrap y stilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
        <table class="tabla">
            <div class="card">
                <form role="form">
                <br>
                <tr>
                    <td ><div class="cont">
                        <!--imput de dni-->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="Ingrese un código" class="budcaDNI" required autofocus>
                        &nbsp;&nbsp;&nbsp;<input type="submit" value="Buscar" class="botones">
                    </div></td>
                </tr>
                <br>
                <br>
                <tr>
                    <div class="form-group">
                        <label>Codigo:</label>
                        <input type="text" class="form-control" id="codigo">
                    </div>
                    <td><div class="form-group1">
                        <label>Nombre Completo:</label>
                        <input type="text" class="form-control" id="nombrescerti">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="form-group">
                        <label>Cedula:</label>
                        <input type="number" class="form-control" id="cedula">
                    </div></td>
                    <td><div class="form-group1">
                        <label>Nombre de la carrera:</label>
                        <input type="text" class="form-control" id="carrera">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="form-group">
                        <label>Nombre del proyecto:</label>
                        <div class="col-75">
                        <textarea id="subject" class="form-control" style="width:299px"></textarea>
                        </div>
                    </div></td>
                    <td><div class="form-group1">
                        <label>Barrio:</label>
                        <input type="number" class="form-control" id="barrio">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="form-group">
                        <label>Parroquia:</label>
                        <input type="text" class="form-control" id="parroquia">
                    </div></td>
                    <td><div class="form-group1">
                        <label>Canton:</label>
                        <input type="text" class="form-control" id="canton">
                    </div></td>
                </tr>
                    <div class="form-group">
                        <label>Numero de horas:</label>
                        <input type="number" class="form-control" id="horas">
                    </div>
                <tr>
                    <td><div class="form-group1">
                        <label>Fecha de Inicio:&nbsp;</label>
                        <input type="date" name="trip-start" id="fechainicio">
                    </div></td>
                    <td><div class="form-group">
                        <label>Fecha de Fin: &nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="date" name="trip-start" id="fechaFin">
                    </div></td>
                </tr>
                <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Actualizar" class="botones">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Guardar" class="botones">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Eliminar" class="botones"> 
                </form> 
                <br>
            </div>
        </table>
        </div>
    </div>
</body>



</html>